/*--- Header ---*/

/* Logo */
.Logo {
    width: 70px;
    height: 70px;
    position: relative;
    top: 20px;
}

.Lname{
    font-size: 25px;
    color: white;
    font-weight: lighter;
    margin-left: 10px;
}

.Lname{
    position: relative;
    top: 10px;
}

/* Navbar */
.NBar {
    display: block;
    position: relative;
    left: 1600px;
    bottom: 60px;
}

.NBar a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    margin-left: 20px;
}

.NBar a:hover {
    font-weight: bold;
}

.NBar a img{
    width: 40px;
    height: 40px;
    position: relative;
    top: 10px;
    border-radius: 50%;
}
/*--- End Header ---*/

/*--- Body ---*/

/* Binfo */
.Binfo h1{
    color: white;
    font-size: 50px;
    font-weight: bold;
    position: relative;
    left: 300px;
    top: 170px;
}

.Binfo h3{
    color: white;
    font-size: 30px;
    font-weight: lighter;
    position: relative;
    left: 300px;
    top: 140px;
}

.Binfo img{
    width: 500px;
    height: 500px;
    position: relative;
    left: 1150px;
    top: -150px;
    border-radius: 50%;
}

.Binfo a img{
    width: 30px;
    height: 30px;
    position: relative;
    left: -5px;
    top: 10px;
    
}

.Binfo a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    right: 170px;
    bottom: 330px;
    background-color: #055AAF;
    padding: 10px 15px;
    border-radius: 10px;
}

.Binfo a:hover{
    background-color: #0A0A0A;
}

.Info{
    background-color: #ffffff;
    width: 1900px;
    height: 600px;
    position: relative;
    top: -50px;
    right: 10px;
}

.Info img{
    width: 900px;
    height: 600px;
    position: relative;
    top: px;
}

.Info h3{
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: lighter;
    position: relative;
    left: 1000px;
    bottom: 510px;
}

.Info h2{
    color: rgb(0, 0, 0);
    font-size: 48px;
    font-weight: bold;
    position: relative;
    left: 1000px;
    bottom: 540px;
}

.Info p{
    color: rgb(0, 0, 0);
    font-size: 24px;
    position: relative;
    left: 1000px;
    bottom: 540px;
}

.Info a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    left: 1000px;
    bottom: 520px;
    background-color: #1E2D3C;
    padding: 20px 25px;
    border-radius: 20px;
}

.Info a:hover{
    background-color: #0A0A0A;
}
/*--- End Body ---*/

/*--- Footer ---*/

.contact{
    background-color: #055AAF;
    width: 1900px;
    height:200px;
    position: relative;
    top: 250px;
    right: 5px;
}

.contact h3{
    color: white;
    font-size: 30px;
    font-weight: bold;
    position: relative;
    left: 300px;
    top: 10px;
}

.contact img{
    background-color: #1E2D3C;
    width: 50px;
    height: 50px;
    position: relative;
    top: 90px;
    left: 230px;
    border-radius: 50%;
}

.contact h4{
    color: white;
    font-size: 30px;
    font-weight: bold;
    position: relative;
    left: 1400px;
    bottom: 90px;
}

.contact h4 a img{
    width: 50px;
    height: 50px;
    position: relative;
    top: 10px;
    left: 10px;
}

/*--- End Footer ---*/

/* BODY Grandient */
body {
    background: linear-gradient(to right, #1E2D3C, #010102);
    /* Puedes ajustar los colores del degradado según tus preferencias */
    overflow-x: hidden; /* Evita el desplazamiento horizontal */
}



